
<form method="post" asp-action="Pass">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Zadej Heslo</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label for="pass">Zadej heslo:</label>
            <input type="password" id="pass" name="pass" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary" asp-route="pass" style="width:150px">Ok</button>
        <a asp-controller="Section" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Zpět na rozcestník
        </a>
    </div>
</form>


